.chat-message {
  display: flex;
  .avatar {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0 1em 1em 1em;
    .default-avatar {
      height: 100%;
      width: 100%;
      font-size: 2em;
    }
  }
  .title-line {
    display: flex;
    .user {
      font-weight: bold;
    }
    .timestamp {
      margin-left: 1em;
      font-size: 0.8em;
      color: #888;
    }
  }
  .message {
    white-space: pre-wrap;
    margin-right: 0.5em;
    &.is-typing {
      opacity: 0.5;
      font-size: 0.9em;
      position: relative;
      left: -0.1em;
    }
  }
}
