<mat-grid-list class="movie-detail" cols="2" rowHeight="100%">
    <mat-grid-tile class="poster-tile" [style.background-image]="movie?.imgUrlStyle"></mat-grid-tile>
    <mat-grid-tile>
        <div class="detail-tile">
            <div class="title-line">
                <h1>{{movie?.title}}</h1>
            </div>
            <h3 class="subtitle-line">
                <mat-icon *ngIf="movie?.score && movie!.score <= 3" class="material-icons-round"
                    [style.color]="'gold'">star_outline</mat-icon>
                <mat-icon *ngIf="movie?.score && movie!.score > 3 && movie!.score <= 7" class="material-icons-round"
                    [style.color]="'gold'">star_half</mat-icon>
                <mat-icon *ngIf="movie?.score && movie!.score > 7" class="material-icons-round"
                    [style.color]="'gold'">star</mat-icon>
                {{movie?.score}}/10
            </h3>
            <div class="subtitle-line">
                <span class="year">{{movie?.year}}</span>
                <span class="year">{{movie?.rating}}</span>
                <span class="year">{{movie?.length}}</span>
                <mat-chip-set class="genres">
                    <mat-chip *ngFor="let g of movie?.genres">{{g}}</mat-chip>
                </mat-chip-set>
            </div>
            <p class="description">{{movie?.description}}</p>
            <mat-divider />
            <p class="director">
                <b class="label">Director</b>
                <span *ngFor="let s of movie?.directors; index as i" class="directors-list">
                    <span class="dot" *ngIf="i > 0">&#x2022;</span>
                    <a target="_blank" [href]="'https://google.com/search?q=' + s">{{s}}</a>
                </span>
            </p>
            <mat-divider />
            <p class="stars">
                <b class="label">Stars</b>
                <span *ngFor="let s of movie?.stars; index as i" class="stars-list">
                    <span class="dot" *ngIf="i > 0">&#x2022;</span>
                    <a target="_blank" [href]="'https://google.com/search?q=' + s">{{s}}</a>
                </span>
            </p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
